@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bg.webp") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  color: white;
}

.modalOpen {
  animation: modalOpen 300ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes modalOpen {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0%);
  }
}
